<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CustMapper">
	
	<select id="select" parameterType="String" resultType="CustDTO">
		SELECT * FROM cust WHERE custid=#{custid}
	</select>
	<select id="selectall" resultType="CustDTO">
		SELECT * FROM cust
	</select>
	<insert id="insert" parameterType="CustDTO">
		INSERT INTO cust VALUES (#{custid},#{custpwd},#{custname},#{birth},#{phone},#{email},#{addr},#{addrdetail},#{zipcode},NOW(),#{gender},#{point},#{country},#{certification},#{type})
	</insert>
	<update id="update" parameterType="CustDTO">
		UPDATE cust SET custpwd=#{custpwd}, custname=#{custname}, phone=#{phone}, email=#{email}, 
		addr=#{addr}, addrdetail=#{addrdetail}, zipcode=#{zipcode}, gender=#{gender}, point=#{point}, country=#{country} 
		WHERE custid=#{custid}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM cust WHERE custid=#{custid}
	</delete>
	<select id="certifi_update" parameterType="String">
		UPDATE cust SET certification=#{certification} WHERE custid=#{custid}
	</select>
	<select id="mbti" parameterType="String">
		UPDATE cust SET type=#{type} WHERE custid=#{custid}
	</select>

	
</mapper>