<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.LikeMapper">
	
	<select id="select" parameterType="Integer" resultType="LikeDTO">
		SELECT * FROM likelist WHERE likeid=#{likeid}
	</select>
	<select id="selectall" resultType="LikeDTO">
		SELECT * FROM likelist
	</select>
	<insert id="insert" parameterType="LikeDTO">
		INSERT INTO likelist VALUES (NULL,#{hotelid},#{custid})
	</insert>
	<update id="update" parameterType="LikeDTO">
		UPDATE likelist SET hotelid=#{hotelid},custid=#{custid} WHERE likeid=#{likeid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM likelist WHERE likeid=#{likeid}
	</delete>
	<select id="likehotel" parameterType="String" resultType="LikeDTO">
		SELECT * FROM likelist li
		INNER JOIN hotel ho ON li.hotelid = ho.hotelid
		INNER JOIN city ci ON ho.cityid = ci.cityid
		WHERE li.custid = #{custid};
	</select>

	 
</mapper>