<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PostMapper">
	
	<select id="select" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE postid=#{postid}
	</select>
	<select id="selectall" resultType="PostDTO">
		SELECT * FROM post
	</select>
	<insert id="insert" parameterType="PostDTO">
		INSERT INTO post VALUES (NULL, #{custid}, null, #{hotelid}, #{title}, #{text}, null, NOW(),'quest',null,#{secret},#{toppostid})
	</insert>
	<update id="update" parameterType="PostDTO">
		UPDATE hotel SET custid=#{custid},adminid=#{adminid},hotelid=#{hotelid}, title=#{title},
		text=#{text}, img=#{img}, rdate=#{rdate}, kind=#{kind}, star=#{star} WHERE postid=#{postid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM post WHERE postid=#{postid}
	</delete>

	<select id="myqna" parameterType="String" resultType="PostDTO">
		SELECT postid, custid, title, rdate FROM post
		WHERE kind='quest' AND custid=#{custid};
	</select>
	
	<select id="qnalist5" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='quest' AND hotelid = #{hotelid}
		ORDER BY rdate DESC
		LIMIT 5;
	</select>
	
	<select id="hotelqnaall" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='quest' AND hotelid = #{hotelid}
		ORDER BY rdate DESC
	</select>
	<insert id="qnainsert" parameterType="PostDTO">
		INSERT INTO post VALUES (NULL, #{custid}, null, #{hotelid}, #{title}, #{text}, null, NOW(),'quest',null,#{secret},#{toppostid})
	</insert>
	<insert id="reviewinsert" parameterType="PostDTO">
		INSERT INTO post VALUES (NULL, #{custid}, null, #{hotelid}, #{title}, #{text}, #{img}, NOW(),'review',#{star},#{secret},null)
	</insert>
	<select id="selectanswer" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='answer' AND toppostid = #{postid}
	</select>
	
	<select id="answercheck" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='answer' AND toppostid = #{toppostid}
	</select>
	
	<select id="myreview" parameterType="String" resultType="PostDTO">
		SELECT * FROM post WHERE kind='review' AND custid = #{custid}
	</select>
	<select id="reviewdetail" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post p
		INNER JOIN hotel h ON p.hotelid = h.hotelid
		WHERE postid = #{postid};
	</select>
	<select id="reviewlist5" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='review' AND hotelid = #{hotelid}
		ORDER BY rdate DESC
		LIMIT 5;
	</select>
	<select id="hotelreviewall" parameterType="Integer" resultType="PostDTO">
		SELECT * FROM post WHERE kind='review' AND hotelid = #{hotelid}
		ORDER BY rdate DESC
	</select>
	<select id="reviewocr" parameterType="map" resultType="PostDTO">
		select o.orderid, c.custname, h.hotelname, r.roomtype, o.totalprice, o.cnt, o.sdate, o.edate, h.hotelid AS ocrhotelid from cust c
		inner join orderlist o on c.custid = o.custid
		inner join room r on o.roomid = r.roomid
		inner join hotel h on h.hotelid = r.hotelid
		where o.orderid = #{orderid}
	</select>
<!-- 마이페이지 리뷰 페이징처리 -->
	<select id="myreviewpage" resultType="PostDTO">
        SELECT * FROM post WHERE kind='review' AND custid=#{custid} ORDER BY postid DESC LIMIT #{skip}, #{amount}
    </select>
    <select id="myreviewcnt" resultType="Integer">
        SELECT count(*) FROM post 
        WHERE kind='review' AND custid=#{custid}
    </select>
<!-- 호텔 리뷰 페이징 처리 -->
    <select id="reviewmorepage" resultType="PostDTO">
        SELECT * FROM post WHERE kind='review' AND hotelid=#{hotelid} ORDER BY postid DESC LIMIT #{skip}, #{amount}
    </select>
    <select id="reviewmorecnt" resultType="Integer">
        SELECT count(*) FROM post 
        WHERE kind='review' AND hotelid=#{hotelid}
    </select>
<!-- 마이페이지 QnA 페이징처리 -->
    <select id="myqnapage" resultType="PostDTO">
        SELECT * FROM post WHERE kind='quest' AND custid=#{custid} ORDER BY postid DESC LIMIT #{skip}, #{amount}
    </select>
    <select id="myqnacnt" resultType="Integer">
        SELECT count(*) FROM post 
        WHERE kind='quest' AND custid=#{custid}
    </select>
<!-- 호텔 QnA 페이징처리 -->    
    <select id="qnamorepage" resultType="PostDTO">
        SELECT * FROM post WHERE kind='quest' AND hotelid=#{hotelid} ORDER BY postid DESC LIMIT #{skip}, #{amount}
    </select>
    <select id="qnamorecnt" resultType="Integer">
        SELECT count(*) FROM post 
        WHERE kind='quest' AND hotelid=#{hotelid}
    </select>
    
</mapper>