<meta charset="utf-8">

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
  <form action="#" class="bg-light p-5 contact-form">
	<h2 id="a_title">List</h2>
	<table class="table table-hover">
		<colgroup>
			<col style="width:10%">
			<col style="width:40%">
			<col style="width:15%">
			<col style="width:35%">
		</colgroup>
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th>숙박 시설 정보</th>
			<th>숙박인원</th>
			<th>일정</th>
		</tr>
		</thead>
		<tbody th:each="li:${list}">
		<tr th:onclick="|location.href='@{/room(hotelid=${li.hotelid})}'|" style="cursor:pointer">
			<td th:text="${li.reservid}"></td>
			<td th:text="${li.info}"></td>
			<td th:text="${li.people}"></td>
			<td th:text="|${#dates.format(li.sdate, 'yyyy-MM-dd')} ~ ${#dates.format(li.edate, 'yyyy-MM-dd')}|"></td>
		</tr>
		</tbody>
	</table>
	</form>
	
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>	

