<meta charset="utf-8">
<script>

</script>

<!-- 개인정보 눌렀을 때 비밀번호 입력 모달 -->
<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-2sm">
      <div class="modal-content">
        <div class="modal-header">
          <div>비밀번호를 입력해주세요 : )</div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <form id="infoenter_form">
          <div class="form-group">
            <input id="custpwd" type="password" class="form-control" placeholder="Password" name="custpwd">
          </div>
          </form>
          <p></p>
        </div>
        <div class="modal-footer">
		<a th:href="@{/custdetail(custid=${session.logincust.custid})}">
		<a href=#>
          <button id="infoenter_btn" type="button" class="btn btn-default" style="background-color: #f15d30; color: white">Submit</button>
        </a>
        </div>
      </div>
    </div>
</div> -->
<!-- 모달 끝 -->


<!-- <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/hotel/gyeongju2.jpg')">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span><a href="/mypage">My Page <i class="fa fa-chevron-right"></a></i></span> <span><a th:href="@{/like(custid=${session.logincust.custid})}">Like <i class="fa fa-chevron-right"></a></i></span></p>
       <h1 class="mb-0 bread">My Page</h1>
     </div>
   </div>
 </div>
</section> -->

<!-- <section class="ftco-section ftco-no-pb contact-section mb-4">
  <div class="container">
    <div class="row d-flex contact-info">
      <div data-toggle="modal" data-target="#myModal" class="col-md-2 d-flex" style="cursor:pointer;">
        <div class="align-self-stretch box p-4 text-center" style="background : white"> 
        <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-map-marker"></span>
       </div>
       <h3 class="mb-2">Information</h3>
     </div> 
   </div>
   
   <div class="col-md-2 d-flex" th:onclick="|location.href='@{/coupon(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
     <div class="align-self-stretch box p-4 text-center" style="background : white">
      <div class="icon d-flex align-items-center justify-content-center">
       <span class="fa fa-phone"></span>
     </div>
     <h3 class="mb-2">Coupon</h3>
   </div>
 </div>
 
 
 <div class="col-md-2 d-flex" th:onclick="|location.href='@{/like(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
   <div class="align-self-stretch box p-4 text-center" style="background : white">
    <div class="icon d-flex align-items-center justify-content-center">
     <span class="fa fa-paper-plane"></span>
   </div>
   <h3 class="mb-2">Wishlist </h3>
 </div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/reservationlist(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-globe"></span>
 </div>
 <h3 class="mb-2">Reservation</h3>
</div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/review(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-globe"></span>
 </div>
 <h3 class="mb-2">Review</h3>
</div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/qna(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-globe"></span>
 </div>
 <h3 class="mb-2">Q&A</h3>
</div>
</div>

</div>
</div>
</section> -->

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
  <form action="#" class="bg-light p-5 contact-form">
	<h2 id="a_title">List</h2>
	<table class="table table-hover">
		<colgroup>
			<col style="width:10%">
			<col style="width:60%">
			<col style="width:15%">
			<col style="width:15%">
		</colgroup>
		
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th>Coupon Name</th>
			<th>Discountprice</th>
			<th>Discountpercent</th>
		</tr>
		</thead>
		<tbody th:each=li:${list}>
		<tr>
			<td th:text="${li.couponid}"></td>
			<td th:text="${li.kind}"></td>
			<td th:text="${li.discountprice}"></td>
			<td th:text="|${li.discountpercent}%|"></td>
		</tr>
		</tbody>
	</table>
	</form>
	
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>	

