<!DOCTYPE html>
<html lang="ko">

 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span><a href="/hotel">Hotel <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Hotel</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pb">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="search-wrap-1 ftco-animate">
     <form action="#" class="search-property-1">
      <div class="row no-gutters">
       <div class="col-lg d-flex">
        <div class="form-group p-4 border-0">
         <label for="#">Destination</label>
         <div class="form-field">
		    <div class="select-wrap">
		      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		      <select name="city" id="city" class="form-control">
		        <option value="select_city">CITY</option>
		        <option th:each="ci:${city}" th:value="${ci.name}" th:text="${ci.name}">CITY</option>
		      </select>
		    </div>
		  </div>
       </div>
     </div>
     <div class="col-lg d-flex">
      <div class="form-group p-4">
       <label for="#">Check-in date</label>
       <div class="form-field">
         <div class="icon"><span class="fa fa-calendar"></span></div>
         <input type="text" class="form-control checkin_date" placeholder="Check In Date">
       </div>
     </div>
   </div>
   <div class="col-lg d-flex">
    <div class="form-group p-4">
     <label for="#">Check-out date</label>
     <div class="form-field">
       <div class="icon"><span class="fa fa-calendar"></span></div>
       <input type="text" class="form-control checkout_date" placeholder="Check Out Date">
     </div>
   </div>
 </div>
 <div class="col-lg d-flex">
  <div class="form-group p-4">
   <label for="#">Price Limit</label>
   <div class="form-field">
     <div class="select-wrap">
      <div class="icon"><span class="fa fa-chevron-down"></span></div>
      <select name="price" id="price" class="form-control">
        <option value="select_price">PRICE</option>
        <option value="">&#8361; 50,000</option>
        <option value="">&#8361; 100,000</option>
        <option value="">&#8361; 150,000</option>
        <option value="">&#8361; 200,000</option>
        <option value="">&#8361; 250,000</option>
        <option value="">&#8361; 300,000</option>
        <option value="">&#8361; 400,000</option>
        <option value="">&#8361; 500,000</option>
        <option value="">&#8361; 1,000,000</option>
      </select>
    </div>
  </div>
</div>
</div>
<div class="col-lg d-flex">
  <div class="form-group d-flex w-100 border-0">
   <div class="form-field w-100 align-items-center d-flex">
    <input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
  </div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section">
 <div class="container">
  <div class="row">
  
   <div class="col-md-4 ftco-animate" th:each="li:${list}">
    <div class="project-wrap hotel">
     <a th:href="@{/room(hotelid=${li.hotelid})}" class="img" th:style="'background-image:url('+ @{'images/hotel/'+${li.hotelimg1}} +');'">
      <span class="price" th:text="${li.cityid}">test</span>
    </a>
    <div class="text p-4">
      <p class="star mb-2">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </p>
      <span class="days">8 Days Tour</span>
      <h3><a th:href="@{/room(hotelid=${li.hotelid})}" th:text="${li.hotelname}"></a></h3>
      <p class="location"><span class="fa fa-map-marker" th:text="' '+${li.detail}"></span></p>
      <ul>
       <li><span class="flaticon-shower"></span>2</li>
       <li><span class="flaticon-king-size"></span>3</li>
       <li th:text="${li.feature}"><span></span></li>
     </ul>
   </div>
 </div>
</div>


</div>
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>



</body>
</html>