<script>
$(document).ready(function(){
	$('#loginbtn').click(function(){
		if($('#custid').val() == '' || $('#custpwd').val( )== ''){
			alert("아이디 또는 비밀번호를 입력해주세요.");
			return;
		}
		$('#loginform').attr({
			method:'post',
			action:'[[@{/loginimpl}]]'});
		$('#loginform').submit();
	});
	
	$('#registerbtn').click(function(){
		location.href="/register";
	});
});
</script>

 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/LoginBackground.jpeg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Login</span></p>
       <h1 class="mb-0 bread">Login</h1>
     </div>
   </div>
 </div>
</section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 order-md-last d-flex">
        <form id="loginform" class="p-5 contact-form justify-content-center">
          <div class="form-group">
            <input id="custid" type="text" class="form-control" placeholder="ID" name="id">
          </div>
          <div class="form-group">
            <input id="custpwd" type="password" class="form-control" placeholder="Password" name="pwd">
          </div>
          <div class="form-group">
            <input id="loginbtn" value="Login" class="btn btn-primary">
          </div>
          <div class="form-group">
            <input id="registerbtn" value="Register" class="btn btn-primary">
          </div>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
			<li class="ftco-animate"><a href="#"><span class="fa fa-google"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="fa fa-kakao"></span></a></li>
		  	<li><div id="naverIdLogin"></div></li>
		  </ul>
        </form>
      </div>
   </div>
 </div> 

  <script type="text/javascript">
 
  const naverLogin = new naver.LoginWithNaverId(
   {
    clientId: "BU1GLCi37hGnOL4NxrA5",
    callbackUrl: "http://localhost/",//네이버 로그인 후 돌아가는 화면
    loginButton: {color: "green", type: 1, height: 40}
    }
   );
  
    naverLogin.init();
    console.log(naverLogin);

    $('#naverIdLogin').click(function(){
    	naverLogin.getLoginStatus(function (status) {
	        if (status) {
	            const nickName=naverLogin.user.getNickName();
	            const age=naverLogin.user.getAge();
	            const birthday=naverLogin.user.getBirthyear();
	
	            if(nickName===null||nickName===undefined ){
	              alert("별명이 필요합니다. 정보제공을 동의해주세요.");
	              naverLogin.reprompt();
	              return ;  
	           }else{
	            setLoginStatus();
	           }
	  		}
    	});
    })
    
    	
   	function setLoginStatus(){/* 
   	      alert(naverLogin.user.id+" "
   	    		  +naverLogin.user.id+" "
   	    		  +naverLogin.user.name+" "
   	    		  +naverLogin.user.birthyear+"-"
   	    		  +naverLogin.user.birthday+" "
   	    		  +naverLogin.user.mobile.replaceAll('-','')+" "
   	    		  +naverLogin.user.email+" "); */
   	      
   	      $.ajax({
   				url:'[[@{/naverlogin}]]',
				data:{
					custid:naverLogin.user.id,
					custpwd:naverLogin.user.id,
					custname:naverLogin.user.name,
					birth:naverLogin.user.birthyear+'-'+naverLogin.user.birthday,
					phone:'01012341234',
					email:naverLogin.user.email,
					gender:naverLogin.user.gender,
					point:1000,
					country:'Korea'
				}
   			});
   	    }
</script>