<!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> -->
  
<style>
	#mypage_info > h2 {
		font-family: 'Quicksand', sans-serif;
	}
	#mypage_info > h4 {
		font-family: 'Quicksand', sans-serif;
	}
	
</style>

<!-- 개인정보 눌렀을 때 비밀번호 입력 모달 -->
<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-2sm">
      <div class="modal-content">
        <div class="modal-header">
          <div>비밀번호를 입력해주세요 : )</div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <form id="infoenter_form">
          <div class="form-group">
            <input id="custpwd" type="password" class="form-control" placeholder="Password" name="custpwd">
          </div>
          </form>
          <p></p>
        </div>
        <div class="modal-footer">
		<a th:href="@{/custdetail(custid=${session.logincust.custid})}">
		<a href=#>
          <button id="infoenter_btn" type="button" class="btn btn-default" style="background-color: #f15d30; color: white">Submit</button>
        </a>
        </div>
      </div>
    </div>
</div> -->
<!-- 모달 끝 -->

<!-- <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/mypagepic1.jpg')">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span>My Page <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">My Page</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pb contact-section mb-4">
  <div class="container">
    <div class="row d-flex contact-info">
      <div data-toggle="modal" data-target="#myModal" class="col-md-2 d-flex" style="cursor:pointer;">
        <div class="align-self-stretch box p-4 text-center" style="background : white"> 
        <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-user"></span>
       </div>
       <h3 class="mb-2">Information</h3>
     </div> 
   </div>
   
   <div class="col-md-2 d-flex" th:onclick="|location.href='@{/coupon(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
     <div class="align-self-stretch box p-4 text-center" style="background : white">
      <div class="icon d-flex align-items-center justify-content-center">
       <span class="fa fa-ticket"></span>
     </div>
     <h3 class="mb-2">Coupon</h3>
   </div>
 </div>
 
 
 <div class="col-md-2 d-flex" th:onclick="|location.href='@{/like(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
   <div class="align-self-stretch box p-4 text-center" style="background : white">
    <div class="icon d-flex align-items-center justify-content-center">
     <span class="fa fa-heart"></span>
   </div>
   <h3 class="mb-2">Wishlist </h3>
 </div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/reservation(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-bed"></span>
 </div>
 <h3 class="mb-2">Reservation</h3>
</div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/review(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-comment"></span>
 </div>
 <h3 class="mb-2">Review</h3>
</div>
</div>


<div class="col-md-2 d-flex" th:onclick="|location.href='@{/qna(custid=${session.logincust.custid})}'|" style="cursor:pointer;">
 <div class="align-self-stretch box p-4 text-center" style="background : white">
  <div class="icon d-flex align-items-center justify-content-center">
   <span class="fa fa-question"></span>
 </div>
 <h3 class="mb-2">Q&A</h3>
</div>
</div>

</div>
</div>
</section> -->

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
    <div class="row block-9">
      <div class="col-md-12 order-md-last d-flex">
       <form action="#" class="bg-light p-5 contact-form">
          
          <div id="mypage_info" class="form-group">
            <h2>안녕하세요 : )</h2>
            <h2 th:text = "${cust.custname}+' 님'"></h2>
            <h4 th:text = "'보유포인트 : '+${cust.point}+'P'"></h4>
            <h4 th:text = "'가입날짜 : '+${cust.rdate}"></h4>
            
          </div>
        </form>
        
      </div>
   </div>
 </div>
</section>


