<style>
#plan_title{
	margin-top: -50px;
}

.mb-3{
	font-weight: bold;
}

#dateicon, #user{
	color: #f15d30;
	padding-left: 30px;
}

#dateicon{
	padding-top: 25px;
}

#user{
	padding-top: -10px;
	margin-bottom: -5%;
}

#date, #cnt{
	float: right;
	color: black;
	padding-left: 10px;
}

#planinfo{
	border: 1px solid #d3d3d3;
	margin-bottom: 30px;
}
#accom_btn{
	margin-left: 30%;
}

#check{color: #f15d30;}

#plan{color: black;}


#map{
	width:100%;
	height:400px; 
	border:1px solid black;
}

.block-21 .text .meta_p > div {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px; }


</style>

<script>
var lat = 37.5276891;
var lng = 127.051432;
var map;
//초기 좌표

function display(lat, lng){
	var mapContainer = document.querySelector('#map')
	var mapOption = {
		 center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
	        level: 8 // 지도의 확대 레벨
	};
	map = new kakao.maps.Map(mapContainer, mapOption);

	var mapTypeControl = new kakao.maps.MapTypeControl();
	map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
	var zoomControl = new kakao.maps.ZoomControl();
	map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
	
};
 function displaymarker(data){
	var imageSrc = "/images/mk.png"; 
	// 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
	
	for(var i=0; i<data.length; i++){
		var marker = new kakao.maps.Marker({
	        map: map, 
	        position: new kakao.maps.LatLng(data[i].lat, data[i].lng),
	        image: markerImage
	    });
		
		var iwContent = '<h3>'+data[i].title+'</h3>';//html넣기도 가능 
		iwContent += '<img width="50px" src="/images/map.jpg">';
	    var iwPosition = new kakao.maps.LatLng(data[i].lat, data[i].lng); //인포윈도우 표시 위치입니다

		var infowindow = new kakao.maps.InfoWindow({
		    position : iwPosition, 
		    content : iwContent 
		});
		kakao.maps.event.addListener(marker, 'mouseover', mouseoverListener(marker, infowindow));
		kakao.maps.event.addListener(marker, 'mouseout', mousedoutListener(marker, infowindow));
		kakao.maps.event.addListener(marker, 'click', mouseclickListener(data[i].target));
	};
	
	function mouseoverListener(marker, infowindow) {	
		return function(){
			infowindow.open(map, marker);			
		};
	}
	function mousedoutListener(marker, infowindow) {
	    return function(){
			infowindow.close();	    	
	    };
	}
	function mouseclickListener(target) {
	    return function(){
	    	location.href= target;
	    };
	}
};

function getdata(loc){
	$.ajax({
		url:'/getmarker2',
		data:{'loc':loc},
		success:function(data){
			displaymarker(data);
		}
	})
};

function go(lat,lng,loc){
	var moveLatLon = new kakao.maps.LatLng(lat, lng);
	map.panTo(moveLatLon);
	getdata(loc);
};

$(document).ready(function(){
	display(lat,lng);
	$('#p_one').click(function(){
		go(37.5527401,126.9930781,'p_one');
	});
	$('#p_two').click(function(){
		go(35.1223984,129.0896448,'p_two');
	});
	$('#p_three').click(function(){
		go(33.5199183,126.6142571,'p_three');
	});
	//3. 디스플레이를 만들어서 뿌림
});
</script>

<body>
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_4.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/accompany">Accompany <i class="fa fa-chevron-right"></i></a></span> <span><a href="#">Plan Details <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Plan Details</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
        <h3 class="mb-3" th:text="${title}" id="plan_title">RoomType</h3>
        <div id="planinfo">
        	<i class="fa fa-calendar" id="dateicon"><p th:text="| ${#dates.format(traveltime, 'yyyy-MM-dd HH:mm')}|" id="date"></p></i><br>
        	<i class="fa fa-users" id="user"> <p th:text="|모집인원 : ${cnt}명|" id="cnt"></p></i>
        	<p></p>
        </div>
        
        <i class="fa fa-check" id="check"><span th:text="| ${planname} ${todo}|" id="plan"></span></i><br>
        <i class="fa fa-check" id="check"><span th:text="| ${planname1} ${todo1}|" id="plan"></span></i><br>
        <br><p th:text="${text}" style="color:black;"></p>
        
        
        <button id="p_one">PLAN1</button>
		<button id="p_two">PLAN2</button>
		<button id="p_three">PLAN3</button>
		<div id="map"></div>
        
        
      </div> <!-- .col-md-8 -->
      
      
      <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
        <div class="sidebar-box ftco-animate">
          <h3>User</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url('images/hotel/usercat2.png');"></a>
            <div class="text">
              <h3 class="heading"><a href="#" th:text="${custid}"></a></h3>
              <p>MBTI 자리</p>
              <div class="meta_p">
                <div><span class="fa fa-calendar"><span th:text="| ${#dates.format(birth, 'yyyy')}년생|"></span></span></div>
                <div><span class="fa fa-venus-mars"><span th:text="| ${gender}|"></span></span></div>
                <div><span class="fa fa-globe"><span th:text="| ${country}|"></span></span></div>
              </div>
            </div>
          </div>
          <a href="#" th:if="${session.logincust != null}" class="btn btn-primary" id="accom_btn">동행 신청하기</a><br><br>
        </div>
        
        
       <!-- <div class="sidebar-box ftco-animate">
          <h3>QnA</h3>
          <div class="block-21 mb-4 d-flex">
            <div class="text">
              <h5 class="heading"><a href="#">QnA title/text</a></h5>
              <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> September 11, 2020</a></div>
                <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div> -->
        

        <!-- <div class="sidebar-box ftco-animate">
          <h3>Recommend</h3>
          <div class="tagcloud" th:each="city:${citylist}" style="display:inline-block">
            <a th:href="@{/cityshotel(cityid=${city.cityid})}" class="tag-cloud-link" th:text="${city.name}">서울</a>
            
          </div>
        </div> -->
        
      </div>

    </div>
  </div>
</section> <!-- .section -->
