<style>
.mb-3{font-weight: bold;}

#dateicon, #user{color: #f15d30; padding-left: 30px;}

#dateicon{padding-top: 25px;}

#user{padding-top: -10px;margin-bottom: -5%;}

#date, #cnt{float: right;color: black;padding-left: 10px;}

#planinfo{border: 1px solid #d3d3d3;margin-bottom: 30px;}

#accom_btn{margin-left: 30%;}

#check{color: #f15d30;}

#plan{color: black;}

#to {
	width: 350px;
	height: 400px;
	overflow: auto;
	border: 2px solid #f15d30;
}

#target{
	width: 100px;
	height: 35px;
}
#totext{
	margin-left: -5px;
	width: 190px;
	height: 35px;
}

#to_title{
	margin-bottom: -20px;
}

#disconnect, #connect{
	float: right;
	margin-top: -20px;
}


</style>

<script>

function displaymap(data){
	// 마커를 표시할 위치와 title 객체 배열입니다 , 지도의 가운데 위치를 가져올 변수계산도 추가
	var positions = [];
	var centerx = 0, centery = 0;
	for(var i=0; i<data.length; i++){
		positions.push({
			title:data[i].planname,
			latlng: new kakao.maps.LatLng(data[i].planx,data[i].plany)
		})
		centerx += data[i].planx;
		centery += data[i].plany;
	}
	if(data.length > 1){
		centerx/=data.length;
		centery/=data.length;
	}
	
	/* KaKaoMap Start */
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
	    mapOption = { 
	        center: new kakao.maps.LatLng(centerx, centery), // 지도의 중심좌표
	        level: 4 // 지도의 확대 레벨
	    };

	var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다	
	
	/* var positions = [
	    {
	        title: '교촌', 
	        latlng: new kakao.maps.LatLng(data[0]['planx'], data[0]['plany'])
	    },
	    {
	        title: '스타벅스', 
	        latlng: new kakao.maps.LatLng(33.542495, 126.667400)
	    }
	]; */

	// 마커 이미지의 이미지 주소입니다
	var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
	    
	for (var i = 0; i < positions.length; i ++) {
	    
	    // 마커 이미지의 이미지 크기 입니다
	    var imageSize = new kakao.maps.Size(24, 35); 
	    
	    // 마커 이미지를 생성합니다    
	    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
	    
	    // 마커를 생성합니다
	    var marker = new kakao.maps.Marker({
	        map: map, // 마커를 표시할 지도
	        position: positions[i].latlng, // 마커를 표시할 위치
	        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
	        image : markerImage // 마커 이미지 
	    });
	}
}


function mapmarker(){
	$.ajax({
		url:'/map?accomid='+$('#accomid').text(),
		success:function(data){
			displaymap(data);
		}		
	})
}

function re_delete_btn(){
	var c = confirm('삭제하시겠습니까?');
	if(c == true){
		var replyid = $('#replyid').text();
		var accomid = $('#accomid').text();
		location.href="[[@{/delreply?replyid=}]]"+replyid+'&'+"[[@{accomid=}]]"+accomid;
		alert('정상적으로 삭제되었습니다.');
	}else{
		alert('취소되었습니다.');
	}
}

function update_btn(){
	var comment = $('#comment').val();
	alert(comment);
}

function re_update_btn(){
	var c = confirm('수정하시겠습니까?');
	if(c == true){
		$('#replyupdate_form').attr({
			'method':'post',
			'action':'[[@{/updatereply}]]'
		});
		$('#replyupdate_form').submit();
		alert(comment);
		alert('수정되었습니다.');
	}else{
		alert('취소되었습니다.');
	}
}

/* function re_update_btn(){
	var c = confirm('수정하시겠습니까?');
	if(c == true){
		$('#replyupdate_form').attr({
			'method':'post',
			'action':'[[@{/updatereply}]]'
		});
		$('#replyupdate_form').submit();
		alert(comment);
		alert('수정되었습니다.');
	}else{
		alert('취소되었습니다.');
	}
} */

$(document).ready(function(){
	$('#reply_btn').click(function(){
		var c = confirm('등록하시겠습니까?');
		if(c == true){
			var custid = '[[${session.logincust.custid}]]';
			var accomid = $('#accomid').text();
			var comment = $('#comment').val();
			location.href="[[@{/replyimpl?custid=}]]"+custid+"&[[@{accomid=}]]"+accomid+"&[[@{comment=}]]"+comment;
			alert(comment)
			alert("정상적으로 등록되었습니다");
		}else{
			alert('취소되었습니다.');
		}
	})
	
	/* $('#delete_btn').click(function(){
		var c = confirm('삭제하시겠습니까?');
		if(c == true){
			var replyid = $('#replyid').text();
			var accomid = $('#accomid').text();
			location.href="[[@{/delreply?replyid=}]]"+replyid+'&'+"[[@{accomid=}]]"+accomid;
			alert('정상적으로 삭제되었습니다.');
		}else{
			alert('취소되었습니다.');
		}
	}); */
	
	/* $('#modal_update').click(function(){
		var c = confirm('수정하시겠습니까?');
		if(c == true){
			$('#replyupdate_form').attr({
				'method':'post',
				'action':'[[@{/updatereply}]]'
			});
			$('#replyupdate_form').submit();
			alert(comment);
			alert('수정되었습니다.');
		}else{
			alert('취소되었습니다.');
		}
	}); */
	
	$('#del_btn').click(function(){
		var c = confirm('삭제하시겠습니까?');
		if(c == true){
			var accomid = $('#accomid').text();
			location.href="[[@{/deleteaccom?accomid=}]]"+accomid;
			alert('정상적으로 삭제되었습니다.');
		}else{
			alert('취소되었습니다.');
		}
	});
	
	$('#donglechat').hide();
	/* $('#websoket').hide(); */
	
	$('#accom_btn').click(function(){
		$('#donglechat').show();
		/* $('#websoket').show(); */
	})
	mapmarker();
	
});

</script>


<body>
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_4.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/accompany">Accompany <i class="fa fa-chevron-right"></i></a></span> <span><a href="#">Plan Details <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Plan Details</h1>
       <div id="accomid" style="display:none;" th:text="${accomid}"></div>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
        <h3 class="mb-3" th:text="${title}" id="plan_title">RoomType</h3>
           <button th:if="${session.logincust.custid} == ${custid}" type="button" class="btn btn-primary" id="del_btn" style="float: right; margin-top: -50px; margin-right: 65px; color:white;">삭제</button>
           <button type="button" class="btn btn-primary" style="float: right; margin-top: -50px"><a th:href="@{/accompany}" style="color:white">목록</a></button>
        <div id="planinfo">
        	<i class="fa fa-calendar" id="dateicon"><p th:text="| ${#dates.format(traveltime, 'yyyy-MM-dd HH:mm')}|" id="date"></p></i><br>
        	<i class="fa fa-users" id="user"> <p th:text="|모집인원 : ${cnt}명|" id="cnt"></p></i>
        	<p></p>
        </div>
        <div th:each="todo:${list}">
        <i class="fa fa-check" id="check"><span th:text="| ${todo.planname} : ${todo.todo}|" th:id="|plan+${todo.idx}" style="color:black;"></span></i><br>
        </div>
        <br><p th:text="${accomtext}" style="color:black;"></p>
		
		<div id="map" style="width:100%;height:350px;"></div>
		
      </div> <!-- .col-md-8 -->
      
      
      <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
  
		<div class="sidebar-box ftco-animate">
          <h3>User</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url('images/hotel/usercat2.png');"></a>
            <div class="text">
              <h3 class="heading"><a href="#" th:text="${custid}"></a></h3>
              <p>MBTI 자리</p>
              <div class="meta">
                <div><span class="fa fa-calendar"><span th:text="| ${#dates.format(birth, 'yyyy')}년생|"></span></span></div>
                <div><span class="fa fa-venus-mars"><span th:text="| ${gender}|"></span></span></div>
                <div><span class="fa fa-globe"><span th:text="| ${country}|"></span></span></div>
              </div>
            </div>
          </div>
          <a href="#" th:if="${session.logincust != null}" class="btn btn-primary" id="accom_btn">동행 신청하기</a><br><br>
          <a href="/chat" th:if="${session.logincust != null}" class="btn btn-primary" id="accom_btn">Chatting</a><br><br>
        </div>
        
        <div>
        
        <!-- <H5 th:text="${session.logincust.custid}">ID</H5>
		<H5 id="status">Status</H5>
		<button id="connect">Connect</button>
		<button id="disconnect">Disconnect</button>
        <h3>To</h3>
		<div id="to"></div>
		<input type="text" id="target">
		<input type="text" id="totext"><button id="sendto">Send</button>
        </div> -->
        
        <div id="donglechat"><iframe src="https://service.dongledongle.com/bdb97" frameborder="0" width="100%" height="500"></iframe></div>
        
      </div>

    </div>
    
    <!-- Comments section-->
               <section class="col-md-11">
               <h3 style="font-weight: bold; margin-left: 1%;">Comment</h3>
                   <div class="card bg-light">
                       <div class="card-body">
                           <!-- Comment form-->
                           <div>
                           <form class="col-md-11" style="margin-bottom: 2%;"><textarea class="form-control" rows="3" placeholder="동행하고 싶다면 댓글을 남겨주세요 :)" name="comment" id="comment" style="display: inline-block;"></textarea></form>
                           <button type="button" class="btn btn-primary" id="reply_btn" style="width: 90px; height: 95px; float: right; margin-top: -122px;">작성하기</button>
                           </div>
                           <!-- Comment with nested comments-->
                           <div class="d-flex mb-4" th:each="reply:${reply}"><div id="replyid" hidden="hidden" th:text="${reply.replyid}"></div>
                               <!-- Parent comment-->
                               <div class="flex-shrink-0"><img class="rounded-circle" src="images/hotel/usericon6.png" style="width: 50px;" alt="..." /></div>
                               <div class="col-md-8">
                                   <div class="fw-bold" th:text="${reply.custid}" style="margin-left: 15px; margin-right:2%; font-size: 18px; font-weight: bold; color: #f15d30;"></div>
	                                   <div style="font-size: 13px; margin-left:2.5%; margin-top: 3px;">
	                                   <p th:text="${#dates.format(reply.cdate, 'yyyy-MM-dd HH:mm')}" style="display: inline-block; margin-right: 1%;"></p>
	                                   <button type="button" id="update_btn" onclick="update_btn()" th:if="${session.logincust.custid} == ${custid}" data-toggle='modal' th:data-target='|#modifyModal${reply.replyid}|' style="display: inline-block; border: none; background-color: transparent; width: 40px; height: 20px;">수정</button>
	                                   <button type="button" id="delete_btn" th:onclick="re_delete_btn()" th:if="${session.logincust.custid} == ${custid}" style="display: inline-block; border: none; background-color: transparent; width: 40px; height: 20px;">삭제</button>
	                                   </div>
                                   <p th:text="${reply.comment}" style="margin-left: 15px; color: black"></p><div id="replylid" style="display: none;" th:text="${replylid}"></div>
                                   
                                   
                                   <!-- Child comment 1-->
                                   <!-- <div class="d-flex mt-4">
                                       <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                       <div class="ms-3">
                                           <div class="fw-bold">Commenter Name</div>
                                           And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                       </div>
                                  </div> -->
                              </div>
                              
                              <div class="modal fade" th:id="|modifyModal${reply.replyid}|" role="dialog">
								  <div class="modal-dialog">
								      <div class="modal-content">
								          <div class="modal-header">
								              <h5 class="modal-title">댓글 수정하기</h5><div id="replyid" hidden="hidden" th:text="${reply.replyid}"></div>
								              <button type="button" class="close" data-dismiss="modal">&times;</button>
								          </div>
									          <div class="modal-body">
									          <form id="replyupdate_form">
									              <div class="form-group">
									                  <label for="replyText">댓글 내용</label>
									                  <textarea class="form-control" rows="4" id="comment_reply" th:value="${reply.comment}" th:text="${reply.comment}" name="comment"></textarea>
									              </div>
									          </form>
									          </div>
								          <div class="modal-footer">
								              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
								              <button type="button" class="btn btn-primary modalModBtn" id="modal_update" onclick="re_update_btn()">수정</button>
								          </div>
								      </div>
								  </div>
								</div>
                              
                           </div>
                       </div>
                   </div>
                   
               </section>
    
  </div>
</section> <!-- .section -->
</body>

