<meta charset="utf-8">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  
<style>
</style>

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
   <div class="row block-9">
   <div class="col-md-12 order-md-last d-flex">
       	<table class="table table-hover">
		<colgroup>
			<col style="width:12%">
			<col style="width:50%">
			<col style="width:15%">
			<col style="width:13%">
			<col style="width:10%">
		</colgroup>
		
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th style="text-align: center">Title</th>
			<th style="text-align: right">Poster ID</th>
			<th style="text-align: right">Post Date</th>
			<th>Answer</th>
		</tr>
		</thead>
		<tbody th:each=li:${list}>
		<tr th:onclick="|location.href='@{/qnadetail(postid=${li.postid})}'|" style="cursor: pointer">
			<td th:text="${li.postid}"></td>
			<td th:text="${li.title}" style="text-align: center"></td>
			<td th:text="${li.custid}" style="text-align: right"></td>
			<td th:text="${#dates.format(li.rdate, 'yyyy-MM-dd')}" style="text-align: right"></td>
			<td th:if="${answer != null}">답변완료</td>
		</tr>
		</tbody>
	</table>
        
      </div>
   </div>
 </div>
</section>


