
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/RegisterBackground.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Register</span></p>
       <h1 class="mb-0 bread">Register</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section contact-section ftco-no-pt">
<div class="container">
    <div class="row block-9 justify-content-center">
    	<h2 th:text="|${name}님 가입이 완료되었습니다!<br>로그인 후 서비스를 이용해주세요 :)|"></h2>
          <a th:href="@{/main}" th:if="${session.logincust == null}" class="btn btn-primary">Home</a>
        </form>
        
      </div>

   </div>
 </div>

</section>