 <link rel="stylesheet" href="/css/calender.css">

 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/ReservationBackground.jpeg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Hotel</span>
          <i class="fa fa-chevron-right"></i></a></span> <span>Room Details</span><i class="fa fa-chevron-right"></i></a></span> <span>Reservation</span></p>
       <h1 class="mb-0 bread">Reservation</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section contact-section ftco-no-pt">

  <div class="container">
    <div class="row block-9 justify-content-center">
    	<h2><br>예약을 위해 아래 항목들을 입력해주세요 :)</h2>
      <div class="col-md-7 order-md-last d-flex">
      	<div class="calender-main">
		    <div class="calender-wrap">
		      <div class="calender">
		        <table id="calendar" align="center">
		          <thead>
		            <tr class="btn-wrap clearfix">
		              <td>
		                <label id="prev">
							&#60;
		                </label>
		              </td>
		              <td align="center" id="current-year-month" colspan="5"></td>
		              <td>
		                <label id="next">
		                    &#62;
		                </label>
		              </td>
		            </tr>
		            <tr>
		                <td class = "sun" align="center">Sun</td>
		                <td align="center">Mon</td>
		                <td align="center">Tue</td>
		                <td align="center">Wed</td>
		                <td align="center">Thu</td>
		                <td align="center">Fri</td>
		                <td class= "sat" align="center">Sat</td>
		              </tr>
		          </thead>
		          <tbody id="calendar-body" class="calendar-body"></tbody>
		        </table>
		      </div>
		    </div>
		  </div>
        <form id="registerform" class="p-5 contact-form">
          <div class="form-group">
            <input id="custname" type="text" class="form-control" th:placeholder="${custname}" name="custname">
          </div>
          <div class="form-group">
            <input id="roomid" type="text" class="form-control" th:placeholder="${roominfo}" name="roomid">
          </div>
          <div class="form-group">
            <div class="form-field">
            	
				<input id="sdate" type="text" class="form-control checkin_date col-md-5" placeholder="예약 시작일" name="sdate" style="display:inline-block">
				<input id="edate" type="text" class="form-control checkin_date col-md-5" placeholder="예약 마지막일" name="edate" style="display:inline-block">
		  	</div>
          </div>
          <div class="form-group">
          <span>인원수</span>
            <div class="form-field">
				<div class="select-wrap">
					<select name="people" id="people" class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
				</div> 
			</div>
          </div>
          <div class="form-group justify-content-center">
            <input id="pay" value="결제하기" class="btn btn-primary justify-content-center" style="display:inline-block; float:right;">
          </div>
        </form>
        
      </div>

   </div>
 </div>
</section>

 <script src="/js/calender.js"></script>

