<meta charset="utf-8">
<script>

</script>

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
  <form action="#" class="bg-light p-5 contact-form">
	<h2 id="a_title">List</h2>
	<table class="table table-hover">
		<colgroup>
			<col style="width:10%">
			<col style="width:60%">
			<col style="width:15%">
			<col style="width:15%">
		</colgroup>
		
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th>Coupon Name</th>
			<th>Discountprice</th>
			<th>Discountpercent</th>
		</tr>
		</thead>
		<tbody th:each=li:${list}>
		<tr>
			<td th:text="${li.couponid}"></td>
			<td th:text="${li.kind}"></td>
			<td th:text="${li.discountprice}"></td>
			<td th:text="|${li.discountpercent}%|"></td>
		</tr>
		</tbody>
	</table>
	</form>
	
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>	

