<meta charset="utf-8">
<script>
function movePage(uri, queryString) {
    console.log(uri);
    console.log(queryString);

    location.href = uri + queryString;
}
</script>

<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
  <div class="row block-9">
   <div class="col-md-12 order-md-last d-flex">
	<table class="table table-hover">
		<colgroup>
			<col style="width:12%">
			<col style="width:50%">
			<col style="width:17%">
			<col style="width:17%">
		</colgroup>
		
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th style="text-align: center">Coupon Name</th>
			<th style="text-align: center">Discountprice</th>
			<th style="text-align: center">Discountpercent</th>
		</tr>
		</thead>
		<tbody th:each=li:${list}>
		<tr>
			<td th:text="${li.couponid}"></td>
			<td th:text="${li.kind}" style="text-align: center"></td>
			<td th:text="${li.discountprice}" style="text-align: center"></td>
			<td th:text="|${li.discountpercent}%|" style="text-align: center"></td>
		</tr>
		</tbody>
	</table>
	</div>
	</div>
	<div class="row mt-5">
	  <div class="col text-center">
	    <div class="block-27">
	      <ul>
	        <th:block th:with="pageMaker = ${pageMaker}">
			    <th:block th:each="num : *{#numbers.sequence(pageMaker.pageStart, pageMaker.pageEnd)}">
			        <li class="pageMaker_btn" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
			            <a href="javascript:void(0)"  th:text="${num}" th:onclick="movePage([[${#request.requestURI}]],[[${pageMaker.cri.makeQueryString(num)}]])">1</a>
			        </li>
			    </th:block>
			</th:block>
	      </ul>
	    </div>
	  </div>
	</div>
</div>
</section>	

