@charset "UTF-8";

#writeaccom_btn{margin-top: 15px;margin-left: 83%;}

.form-field{margin-left: -30px;}

.form-field2{margin-left: -30px;margin-right: -30px;}

.cart-title{margin-top: -50px;margin-bottom: 20px;}

/* .col-5 mb-3{
	padding-left: 0;
	padding-right: 0;
} */

#writeaccom{float: center;}

#w_title{font-weight: bold;}

#add_icon, #minus_icon, #minus_icon3{font-size: 25px;color: #f15d30;padding-top: 10px;}

.roadname{width: 300px;display:inline-block}

#sample4_roadAddress, #sample4_roadAddress2{width: 300px;display:inline-block}

#planname{margin-left: -4px;width: 450px;display:inline-block}

#addr_btn, #addr_btn2{width:102px;display:inline-block;margin-left: -4px;}
#idxform{padding-right:0.9%;}

/* @media screen and (min-width: 414px) {
#sample4_roadAddress{width: 200px;}
#planname{width: 200px;}

}
 */
 
@media screen and (max-width: 390px) {
#w_title{font-size: 25px;} 
#accom_form{display: block;}
.mb-3, .my-3{margin-right: 35px; display: block;}
#titleform, #titleform2{width: 250px; display: block;}
.form-field{margin-left: 0px; display: block;}
.form-field2{margin: 0 0 0 0;}
#custid{display: block; margin-right:50px; width: 100px; font-size: 15px;}
#title{display: block;width: 250px; font-size: 15px;}
#cntform, #cnt{display: block;width: 135px; margin-right: 85px; font-size: 15px;}
#traveltime{display: block;width: 190px; font-size: 15px; margin-left: -15px;}
#addbtn{margin-left: 95px;}
#idxform{margin-right: 0;}
#idx{display: inline-block; font-size: 15px;} 
#sample4_roadAddress, #sample4_roadAddress2, #sample4_roadAddress3, #sample4_roadAddress4, #sample4_roadAddress5
{display:inline-block; width: 230px; margin-top: -68px; margin-left: 39px; font-size: 15px; float: left;}
#addr_btn{float: right; font-size: 13px; width: 81px; margin-top: -107px;}
#planname{width: 350px; margin: -20px 0 0 0; font-size: 15px;}
#todo{display: block;width: 100%; font-size: 15px;}
#textform{margin-right: 0; width: 370px;padding:0px;padding-left:5%;}
#accomtext{width: 370px; font-size: 15px;}
#writeaccom_btn{width: 100px; float: right;}
#plan-detail{padding-right:0px;}
#idxform{padding-right:3%;}
}