<meta charset="utf-8">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

 <link rel="stylesheet" th:href="@{/css/review.css}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  
<script>
function del(postid){
	var custid = '[[${session.logincust.custid}]]';	// 사용자의 id
	var c = confirm('삭제 하시겠습니까?');
	if(c == true){
	location.href='/deletereview?postid='+postid+'&custid='+custid;	// delete에게 삭제하고자 하는 카트의 id와 사용자의 id를 보낸다.  

	}
}
</script>


<section class="ftco-section contact-section ftco-no-pt">
  <div class="container">
    <div class="row block-9">
    
<!-- 리뷰내용 -->
      <div class="col-md-12 order-md-last"  style="background-color: #F6F6F6; padding: 40px; margin-bottom:10px">
       <div class=" p-6">
       	<table class="container">
       		<thead>
       			<tr class="row" id="review_row">
       				<th colspan="2" style="width:600px; padding-left:15px">
       					<h2 id="review_hotelname" th:text="${reviewdetail.hotelname}" th:onclick="|location.href='@{/room(hotelid=${reviewdetail.hotelid})}'|" style="cursor: pointer"></h2>
       				</th>
       				
       			</tr>
       			<tr class="row">
       				<th th:text="${reviewdetail.title}" style="padding-left:15px"></th>
       				<th>&nbsp&nbsp&nbsp&nbsp</th>
       				<th class="fa fa-star " style="padding-top: 7px" th:text="' '+${reviewdetail.star}+' / 5'" id="review_star"></th>
       			</tr>
       			<tr class="row" id="review_cust">
       				<th th:text="'작성자 : '+${reviewdetail.custid}" id="review_writer"></th>
       				<th th:text="${#dates.format(reviewdetail.rdate,'yyyy-MM-dd HH:mm')}" style="text-align : right; padding-right:20px" id="review_date"></th>
       			</tr>
       			<tr colspan="2">
       				<th>&nbsp</th>
       			</tr>
       		</thead>
       	
       		<tbody id="review_tbody">
       			<tr class="row">
       				<td>
        				<img th:src="'/images/' + ${reviewdetail.img}" style="width: 200px; height: 150px" th:if="${reviewdetail.img !=''}" id="review_img">
        			</td>
       			</tr>
       			<tr class="row" style="background-color: #EAEAEA ; height: 100px" id="review_tr">
       				<td id="td_text" colspan="2" th:text="'&nbsp&nbsp&nbsp&nbsp'+${reviewdetail.text}" style="color: black"></td>
       			</tr>
       		</tbody>
       	
       	</table>
       </div>
      </div>
       	<div class="col-md-12 order-md-last " style="padding-right : 0;">
       		<button type="button"  class="btn btn-primary" style="float: right; margin-top: 20px" th:onclick="|location.href='@{/review(custid=${session.logincust.custid})}'|"> 목록</button>
       		<button type="button"  class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 20px" th:onclick="del([[${reviewdetail.postid}]]);"> 삭제</button>
       	</div>
<!-- 리뷰내용 끝 -->
   </div>
 </div>
</section>


