<meta charset="utf-8">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
 <link rel="stylesheet" th:href="@{/css/review.css}">


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg')">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
      <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/hotel">Hotel <i class="fa fa-chevron-right"></i></a></span> <span><a href="#">Review <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Hotel Review </h1>
     </div>
   </div>
 </div>
</section>



<section class="ftco-section contact-section" >
  <div class="container">
    <div class="row block-9">
<!-- 리뷰내용 -->
      <div class="col-md-12 order-md-last" style="background-color: #F6F6F6; padding: 40px">
       <div class=" p-6">
       	<table class="container">
       		<thead>
       			<tr class="row" id="review_row">
       				<th colspan="2" style="width:600px; padding-left:15px">
       					<h2 id="review_hotelname" th:text="${reviewdetail.hotelname}" th:onclick="|location.href='@{/room(hotelid=${reviewdetail.hotelid})}'|" style="cursor: pointer"></h2>
       				</th>
       				
       			</tr>
       			<tr class="row">
       				<th th:text="${reviewdetail.title}" style="padding-left:15px"></th>
       				<th>&nbsp&nbsp&nbsp&nbsp</th>
       				<th class="fa fa-star " style="padding-top: 7px" th:text="' '+${reviewdetail.star}+' / 5'" id="review_star"></th>
       			</tr>
       			<tr class="row" id="review_cust">
       				<th th:text="'작성자 : '+${reviewdetail.custid}" id="review_writer"></th>
       				<th th:text="${#dates.format(reviewdetail.rdate,'yyyy-MM-dd HH:mm')}" style="text-align : right; padding-right:20px" id="review_date"></th>
       			</tr>
       			<tr colspan="2">
       				<th>&nbsp</th>
       			</tr>
       		</thead>
       	
       		<tbody id="review_tbody">
       			<tr class="row">
       				<td>
        				<img th:src="'/images/' + ${reviewdetail.img}" style="width: 200px; height: 150px" th:if="${reviewdetail.img !=''}" id="review_img">
        			</td>
       			</tr>
       			<tr  style="background-color: #EAEAEA ; height: 100px" id="review_tr">
       				<td id="td_text" colspan="2" th:text="'&nbsp&nbsp&nbsp&nbsp'+${reviewdetail.text}" style="color: black"></td>
       			</tr>
       		</tbody>
       	
       	</table>
       </div>
      </div>
<!-- 리뷰내용 끝 -->
       	<div class="col-md-12 order-md-last " style="padding-right : 0;">
       		<button type="button"  class="btn btn-primary" style="float: right; margin-top: 20px"> <a th:href="@{/reviewmore(hotelid=${reviewdetail.hotelid})}" style="color:white">목록</a></button>
       		<!-- <button type="button"  class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 20px"> 삭제</button>  -->
       	</div>
   </div>
 </div>
</section>


