 <link rel="stylesheet" th:href="@{/css/review.css}">

<script>
$(document).ready(function(){
	var status = "[[${status}]]";
	
	if(status=="1"){
		alert("예약인증 성공");
	}
	if(status=="0"){
		alert("예약인증 실패. 정보가 일치하지 않습니다");
	}
})

function movePage(uri, queryString) {
    console.log(uri);
    console.log(queryString);

    location.href = uri + queryString;
}
</script>


 <!-- END nav -->
 
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/myqnaimg.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
      <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/hotel">Hotel <i class="fa fa-chevron-right"></i></a></span> <span><a href="#">Review <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread"> Review </h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section">
  <div class="container">
	<h2 id="a_title">Review List</h2>
	<table class="table table-hover">
		<colgroup>
			<col style="width:12%">
			<col style="width:55%">
			<col style="width:20%">
			<col style="width:13%">
			
		</colgroup>
		
		<thead>
		<tr id="tablehead">
			<th>No</th>
			<th style="text-align: center">Title</th>
			<th style="text-align: center">Poster ID</th>
			<th style="text-align: center">Post Date</th>
			
			<!-- <th>&nbsp&nbsp&nbsp&nbsp</th> --> <!-- 비밀글 기능 표시 열 -->
		</tr>
		</thead>
		<tbody th:each=li:${list}>
		<tr th:onclick="|location.href='@{/reviewmoredetail(postid=${li.postid})}'|" style="cursor: pointer">
			<td th:text="${li.postid}"></td>
			<td th:text="${li.title}" style="text-align: center"></td>
			<td th:text="${li.custid}" style="text-align: center"></td>
			<td th:text="${#dates.format(li.rdate, 'yyyy-MM-dd')}" style="text-align: center"></td>
			
		</tr>
		</tbody>
	</table>
	<button id="send_btn" class="btn btn-primary py-2 px-3" style="float: right" th:onclick="|location.href='@{/reviewocr(hotelid=${hotelid})}'|">작성하기</button>
	<!-- 페이징 처리 -->
   <div class="row mt-5">
	  <div class="col text-center">
	    <div class="block-27">
	      <ul>
			<th:block th:if="${pageMaker.prev}">
	        	<li class="pageMaker_btn prev">
	        		<a href="javascript:void(0)" th:onclick="movePage([[${#request.requestURI}]], [[${pageMaker.cri.makeQueryString(pageMaker.pageStart - 1)}]])">&lt;</a>
	        	</li>
	        </th:block>
	        
	        <th:block th:with="pageMaker = ${pageMaker}">
			    <th:block th:each="num : *{#numbers.sequence(pageMaker.pageStart, pageMaker.pageEnd)}">
			        <li class="pageMaker_btn" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
			            <a href="javascript:void(0)"  th:text="${num}" th:onclick="movePage([[${#request.requestURI}]],[[${pageMaker.cri.makeQueryString(num)}]])">1</a>
			        </li>
			    </th:block>
			</th:block>
			
			<th:block th:if="${pageMaker.next}">
			    <li class="pageMaker_btn next">
			        <a href="javascript:void(0)" th:onclick="movePage([[${#request.requestURI}]], [[${pageMaker.cri.makeQueryString(pageMaker.pageEnd + 1)}]])">&gt;</a>
			    </li>
			</th:block>
	      </ul>
	    </div>
	  </div>
	</div>
   <!-- 페이징 처리 끝 -->
</div>
</section>	



<!-- loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->

