<link rel="stylesheet" th:href="@{/css/mbti.css}">

<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PB6ZMD7');</script>
	<!-- End Google Tag Manager -->
<script>
var changTime = false;
function nextStep(obj){
	$(obj).parent().addClass('on');
	if(!changTime){
		changTime = true;
		setTimeout(function(){
			var prevObj = $('.question.on');
			var nextObj = prevObj.next('.question');
			nextObj.addClass('on');
			prevObj.removeClass('on');

			if(nextObj.hasClass('loader')){
				nextObj.addClass('on');
				mbtiResult();
			}
			changTime = false;
		},400);
	}
}

var ei,ft,sn,pj;
var custid = '[[${session.logincust.custid}]]';
function mbtiResult(){
	ei =	typeResult(10);
	sn =	typeResult(4);
	ft =	typeResult(7);
	pj =	typeResult(1);
	setTimeout(function(){
		location.href = "/result?type="+ei+sn+ft+pj+'&custid='+custid;
	},3000);
	
}

function typeResult(idx){
	var r = [];
	r[0] = $('input[name=que'+idx+']:checked').val();
	r[1] = $('input[name=que'+(idx+1)+']:checked').val();
	r[2] = $('input[name=que'+(idx+2)+']:checked').val();
	var resultValue;
	if(r[0]==r[1] || r[0]==r[2]){
		resultValue = r[0];
	}else if(r[1]==r[2]){
		resultValue = r[1];
	}

	return resultValue;
}
</script>

 
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/mbti_bg.jpeg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/}">Home <i class="fa fa-chevron-right"></i></a></span> <span><a th:href="@{/mbti}">MBTI <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Witing-MBTI</h1>
     </div>
   </div>
 </div>
</section>

<section style="height:400px;">
  <div class="container">
  	<div>
	<div class="question on">
		<div class="in">
			<span class="num">Q 01.</span>
			<div class="name">여행을 떠날 때 계획은?</div>
			<label><input type="radio" name="que1" value="P" onclick="nextStep(this);"><b>그때 그때 끌리는 곳으로 간다</b></label>
			<label><input type="radio" name="que1" value="J" onclick="nextStep(this);"><b>여행 전, 시간대별로 계획을 세운다</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 02.</span>
			<div class="name">여행 중 계획이 틀어졌다면?</div>
			<label><input type="radio" name="que2" value="P" onclick="nextStep(this);"><b>계획이 틀어졌으니 눈 앞에 보이는 곳으로 간다</b></label>
			<label><input type="radio" name="que2" value="J" onclick="nextStep(this);"><b>새로운 일정을 다시 계획한다</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 03.</span>
			<div class="name">여행을 다녀온 후</div>
			<label><input type="radio" name="que3" value="P" onclick="nextStep(this);"><b>여행 후 피곤하니 휴식을 취한다</b></label>
			<label><input type="radio" name="que3" value="J" onclick="nextStep(this);"><b>물건을 정리하거나 경비를 정산한다</b></label>
		</div>
	</div>


	<div class="question">
		<div class="in">
			<span class="num">Q 04.</span>
			<div class="name">여행 출발하기 하루전 나의 모습은?</div>
			<label><input type="radio" name="que4" value="S" onclick="nextStep(this);"><b>빠진 물건이 없는지 확인한다</b></label>
			<label><input type="radio" name="que4" value="N" onclick="nextStep(this);"><b>어떤 여행을 가게 될지 상상하며 설레한다</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 05.</span>
			<div class="name">여행을 다녀온 후 나의 모습은?</div>
			<label><input type="radio" name="que5" value="S" onclick="nextStep(this);"><b>여행은 끝, 다시 일상으로 복귀한다</b></label>
			<label><input type="radio" name="que5" value="N" onclick="nextStep(this);"><b>여행 후유증을 앓고 다음 여행을 상상한다</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 06.</span>
			<div class="name">멋있는 여행지를 보면서 드는 생각은?</div>
			<label><input type="radio" name="que6" value="S" onclick="nextStep(this);"><b>남는 건 사진 뿐이니 열심히 사진을 찍는다</b></label>
			<label><input type="radio" name="que6" value="N" onclick="nextStep(this);"><b>여행지를 감탄하며 즐긴다</b></label>
		</div>
	</div>


	<div class="question">
		<div class="in">
			<span class="num">Q 07.</span>
			<div class="name">여행 중 돈을 잃어버린 친구에게 건낼 첫 마디는?</div>
			<label><input type="radio" name="que7" value="F" onclick="nextStep(this);"><b>"괜찮아? 더 잃어버린건 없어?"</b></label>
			<label><input type="radio" name="que7" value="T" onclick="nextStep(this);"><b>"어디서 잃어버렸어?"</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 08.</span>
			<div class="name">여행 가는 중 사고난 친구에게 건낼 첫 마디는?</div>
			<label><input type="radio" name="que8" value="F" onclick="nextStep(this);"><b>"괜찮아? 다친 데는 없어?"</b></label>
			<label><input type="radio" name="que8" value="T" onclick="nextStep(this);"><b>"보험 들었어?"</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 09.</span>
			<div class="name">친구가 쓸데없는 기념품을 살 때</div>
			<label><input type="radio" name="que9" value="F" onclick="nextStep(this);"><b>"그래 니가 행복하다면..."</b></label>
			<label><input type="radio" name="que9" value="T" onclick="nextStep(this);"><b>"그거 결국 쓰레기 된다"</b></label>
		</div>
	</div>

	<div class="question">
		<div class="in">
			<span class="num">Q 10.</span>
			<div class="name">나는 여행지를 선택할 때 주로</div>
			<label><input type="radio" name="que10" value="E" onclick="nextStep(this);"><b>활동성 넘치는 액티비티를 즐긴다</b></label>
			<label><input type="radio" name="que10" value="I" onclick="nextStep(this);"><b>나만의 시간을 즐길 수 있는 조용한 곳으로 간다</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 11.</span>
			<div class="name">숙소를 구할 때</div>
			<label><input type="radio" name="que11" value="E" onclick="nextStep(this);"><b>새로운 사람들을 만날 수 있는 게스트하우스</b></label>
			<label><input type="radio" name="que11" value="I" onclick="nextStep(this);"><b>휴식을 취할 수 있는 조용한 호텔</b></label>
		</div>
	</div>
	<div class="question">
		<div class="in">
			<span class="num">Q 12.</span>
			<div class="name">여행갈 때 나의 여행메이트는?</div>
			<label><input type="radio" name="que12" value="E" onclick="nextStep(this);"><b>친구, 가족 무조건 누군가와 함께 간다</b></label>
			<label><input type="radio" name="que12" value="I" onclick="nextStep(this);"><b>홀로 여행을 즐긴다</b></label>
		</div>
	</div>
	<div class="question loader">
		<div class="in">
			<div class="ico"><b></b><b></b><b></b></div>
			<div class="name">나에게 어울리는 <br>여행지로 이동 중...</div>
		</div>
	</div>
</div>
</div>
</section>	

