<style>
#writeaccom_btn{margin-top: 15px;margin-left: 83%;}

.form-field{margin-left: -30px;}

.form-field2{margin-left: -30px;margin-right: -30px;}

.cart-title{margin-top: -50px;margin-bottom: 20px;}

/* .col-5 mb-3{
	padding-left: 0;
	padding-right: 0;
} */

#writeaccom{float: center;}

#w_title{font-weight: bold;}

#add_icon, #minus_icon, #minus_icon3{font-size: 25px;color: #f15d30;padding-top: 10px;}

.roadname{width: 300px;display:inline-block}

#sample4_roadAddress, #sample4_roadAddress2{width: 300px;display:inline-block}

#planname{margin-left: -4px;width: 450px;display:inline-block}

#addr_btn, #addr_btn2{width:102px;display:inline-block;margin-left: -4px;}


/* @media screen and (min-width: 414px) {
#sample4_roadAddress{width: 200px;}
#planname{width: 200px;}

}
 */
 
@media screen and (max-width: 390px) {
#w_title{font-size: 25px;} 
#accom_form{display: block;}
.mb-3, .my-3{margin-right: 35px; display: block;}
#titleform, #titleform2{width: 250px; display: block;}
.form-field{margin-left: 0px; display: block;}
.form-field2{margin: 0 0 0 0;}
#custid{display: block; margin-right:50px; width: 100px; font-size: 15px;}
#title{display: block;width: 250px; font-size: 15px;}
#cntform, #cnt{display: block;width: 135px; margin-right: 85px; font-size: 15px;}
#traveltime{display: block;width: 190px; font-size: 15px; margin-left: -15px;}
#addbtn{margin-left: 95px;}
#idxform{margin-right: 0;}
#idx{display: inline-block; font-size: 15px;} 
#sample4_roadAddress, #sample4_roadAddress2, #sample4_roadAddress3, #sample4_roadAddress4, #sample4_roadAddress5
{display:inline-block; width: 230px; margin-top: -68px; margin-left: 39px; font-size: 15px; float: left;}
#addr_btn{float: right; font-size: 13px; width: 81px; margin-top: -107px;}
#planname{width: 350px; margin: -20px 0 0 0; font-size: 15px;}
#todo{display: block;width: 100%; font-size: 15px;}
#textform{margin-right: 0; width: 370px;}
#accomtext{width: 370px; font-size: 15px;}
#writeaccom_btn{width: 100px; float: right;}
}

</style>

<script>

$(document).ready(function(){
	var num = 2;
	function add_plan(){
	    var div = document.createElement('div');
	    div.innerHTML = document.getElementById('basicplan').innerHTML; 
		//새롭게 추가한 주소입력 부분의 주소,장소의 id 변
		div.querySelector('#idx').setAttribute("value", num);
		div.querySelector('#sample4_roadAddress').setAttribute("id", "sample4_roadAddress"+num);
		div.querySelector('#plany').setAttribute("id","plany"+num);
		div.querySelector('#planx').setAttribute("id","planx"+num);	
		
	    $(div).on('click', '#addr_btn', function(){
	    	//현재 변경된 id의 숫자를 가져오
	    	var roadid = div.querySelector('.roadname').getAttribute("id");
        	var roadidx = roadid.charAt(roadid.length-1);
    		//sample4_roadAddress1,2,3,
	    	new daum.Postcode({
	            oncomplete: function(data) {		        		        	
	                $("#sample4_roadAddress"+roadidx).val(data.address);
	                $("#sample4_roadAddress"+roadidx).prop("readonly",true);	
	                var addr =  $("#sample4_roadAddress"+roadidx).val();
	            	geocoder.addressSearch(addr, callback);
	            }    	
		    	
	        }).open();
	    	
	    	var callback = function(result, status) {
	    		if (status === kakao.maps.services.Status.OK) {
	    			$("input[id=planx"+roadidx+"]").val(result[0].y);
	    			$("input[id=plany"+roadidx+"]").val(result[0].x);
	    		}
	    	};
	    });
	    
	    document.getElementById('addplan').appendChild(div);
	    num++;
	}
	
	$('#writeaccom_btn').click(function(){
		var c = confirm('등록하시겠습니까?');
		var arr = [];
		var title = document.getElementById("title");
		var cnt = document.getElementById("cnt");
		var traveltime = document.getElementById("traveltime");
		var accomtext = document.getElementById("accomtext");
		var planname = document.getElementById("planname");
		var todo = document.getElementById("todo");

		if(c == true){
			if(title.value == "" || cnt.value == "" || traveltime.value == "" || accomtext.value == ""
					|| planname.value == "" || todo.value == ""){
				alert('내용을 입력해주세요.')
				return false;
			}else{
				var custid = '[[${session.logincust.custid}]]';
				var title = $('#title').val();
				var cnt = $('#cnt').val();
				var traveltime = $('#traveltime').val();
				var accomtext = $('#accomtext').val();
				//동적으로 데이터 추가되는 부분 -> idx, roadname, planname, todo, planx,plany
				var idx = [];
				$.each($("input[name='idx[]']"),function(k,v){
					idx[idx.length] = $(v).val();
				})
				var roadname = [];
				$.each($("input[name='roadname[]']"),function(k,v){
					roadname[roadname.length] = $(v).val();
				})
				var planname = [];
				$.each($("input[name='planname[]']"),function(k,v){
					planname[planname.length] = $(v).val();
				})
				var todo = [];	
				$.each($("input[name='todo[]']"),function(k,v){
					todo[todo.length] = $(v).val();
				});
				var planx = [];
				$.each($("input[name='planx[]']"),function(k,v){
					planx[planx.length] = $(v).val();
				});
				var plany = [];
				$.each($("input[name='plany[]']"),function(k,v){
					plany[plany.length] = $(v).val();
				})
				
				location.href="[[@{/accomimpl?custid=}]]"+custid+"&[[@{title=}]]"+title+"&[[@{cnt=}]]"+cnt+"&[[@{traveltime=}]]"+traveltime
				+"&[[@{idx=}]]"+idx+"&[[@{roadname=}]]"+roadname+"&[[@{planname=}]]"+planname+"&[[@{todo=}]]"+todo+"&[[@{accomtext=}]]"+accomtext
				+"&[[@{planx=}]]"+planx+"&[[@{plany=}]]"+plany;
			}
			
		};
		alert("정상적으로 등록되었습니다 : )");
	});
		
	/* $('#writeaccom_btn').click(function(){
		var c = confirm('등록하시겠습니까?');
		if(c == true){
			$('#accom_form').attr({
				'method':'post',
				'action':'/accomimpl'
			});
			$('#accom_form').submit();
			alert("정상적으로 등록되었습니다 : )");
		}
	}); */
	var $form = $("#accom_form");
	$('#add_icon').click(function(){
		add_plan();
		
	});
	
});

/* var geocoder = new kakao.maps.services.Geocoder();

$("#addr_btn").click(function(){
	new daum.Postcode({
        oncomplete: function(data) {
            $("#addr_btn").val(data.address);
            $("#addr_btn").prop("readonly",true);
            $("input[name=place]").val(data.sido);
            var juso =  $("#address").val();
        	geocoder.addressSearch(juso, callback);  
        }
    }).open()
});

var callback = function(result, status) {
    if (status === kakao.maps.services.Status.OK) {
	$("input[name=planx]").val(result[0].x);
	$("input[name=plany]").val(result[0].y);
    }
}; */

</script>


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_2.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/}">Home <i class="fa fa-chevron-right"></i></a></span> <span><a th:href="@{/accompany}">Accompany <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Write Accompany</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section">
<div class="container">
   <div class="checkout_details_area mt-50 clearfix" id="writeaccom">
       <div class="cart-title">
           <h3 id="w_title">동행글 작성하기</h3>
       </div>

          <form id="accom_form" method="post">
              <div class="row" id="formhy">
              	<!-- <input type="hidden" name="place"> -->
                <div class="col-2 mb-3">
                  	<input type="text" class="form-control" id="custid" th:value="${session.logincust.custid}" readonly="readonly" name="custid">
                  	<div class="col-lg d-flex"></div>
                </div>
                <div class="col-5 mb-3" id="titleform2">
                	<div class="form-field" id="titleform">
                  	<input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." name="title">
                  	<div class="col-lg d-flex"></div></div>
                </div>
                <div class="col-2 mb-3" id="cntform">
					<div class="form-field">
					<input type="number" min="1" class="form-control" id="cnt" placeholder="동행 모집 인원" name="cnt">
                   	<div class="col-lg d-flex"></div>
					</div>
                </div>
				<div class="col-2 mb-3">
					<div class="form-field">
				      <!-- <div class="icon"><span class="fa fa-calendar"></span></div> -->
					<input type="text" class="form-control checkin_date" placeholder="Check In Date" id="traveltime" name="traveltime">
					</div>
				</div>
				<div id="addbtn"><a th:href="@{#}"><i class="fa fa-plus-circle" id="add_icon"></i></a></div>
				<div id="basicplan" style="display:inline-block;">
					<div class="col-2 mb-3" style="display:inline-block;" id="idxform">
						<input type="number" class="form-control hyidx" value="1" id="idx" placeholder="여행 순서" name="idx[]" readonly="readonly">
						<div class="col-lg d-flex"></div>
					</div>
					<div class="col-9 mb-3" style="display:inline-block;">
						<div class="form-field" style="display:inline-block;">
							<input type="text" class="form-control roadname" id="sample4_roadAddress" placeholder="도로명 주소" name="roadname[]" readonly="readonly">
							<input type="text" class="form-control" id="planname" placeholder="상세 주소" name="planname[]">
							<input type="button" class="form-control" th:onclick="sample4_execDaumPostcode()" value="장소 찾기" th:id="addr_btn"><br>
	                    </div>
						<div class="col-lg d-flex"></div>
					</div>
					<div class="col-11 mb-3" style="display:inline-block;">
						<div class="form-field3">
							<input type="text" class="form-control" id="todo" placeholder="상세 일정" name="todo[]">
						</div>
						<div class="col-lg d-flex"></div>
					</div>
					<div style="display:none;">
						<input type="text" name="planx[]" value="planx" id="planx">
						<input type="text" name="plany[]" value="plany" id="plany">
					</div>
					
				</div>
				<div id="addplan" style="display:inline-block;"></div>
			
				<div class="col-11 mb-3" id="textform">
					<textarea id="accomtext" class="form-control w-100" cols="30" rows="10" placeholder="내용을 입력해주세요." name="accomtext"></textarea>
	            </div>
	            
			</div>
          </form>
          <button id="writeaccom_btn" type="button" class="btn btn-primary">등록하기</button>
      </div>

</div>
</section>

<script>

var geocoder = new kakao.maps.services.Geocoder();

$("#addr_btn").click(function(){
    new daum.Postcode({
        oncomplete: function(data) {
            $("#sample4_roadAddress").val(data.address);
            $("#sample4_roadAddress").prop("readonly",true);
            var addr =  $("#sample4_roadAddress").val();
        	geocoder.addressSearch(addr, callback);  
        }
    }).open()
});

var callback = function(result, status) {
	if (status === kakao.maps.services.Status.OK) {
		$("input[id=planx]").val(result[0].y);
		$("input[id=plany]").val(result[0].x);
	}
};

</script>
