<style>
#writeaccom_btn{
	margin-top: 15px;
	margin-left: 83%;
}

.form-field{
	margin-left: -30px;
}

.form-field2{
	margin-left: -30px;
	margin-right: -30px;
}

.cart-title{
	margin-top: -50px;
	margin-bottom: 20px;
}

/* .col-5 mb-3{
	padding-left: 0;
	padding-right: 0;
} */

#writeaccom{
	float: center;
}

#w_title{
	font-weight: bold;
}

#add_icon, #minus_icon, #minus_icon3{
	font-size: 25px;
	color: #f15d30;
	padding-top: 10px;
}

#sample4_roadAddress, #sample4_roadAddress2{
	width: 300px;
	display:inline-block
}
#planname{
	margin-left: -4px;
	width: 450px;
	display:inline-block
}
#addr_btn, #addr_btn2{ 
	width:102px;
	display:inline-block;
	margin-left: -4px;
}
</style>

<script>
$(document).ready(function(){
	$('#writeaccom_btn').click(function(){
		var c = confirm('등록하시겠습니까?');
		if(c == true){
			var custid = '[[${session.logincust.custid}]]';
			var title = $('#title').val();
			var cnt = $('#cnt').val();
			var traveltime = $('#traveltime').val();
			var idx = $('#idx').val();
			var planname = $('#planname').val();
			var todo = $('#todo').val();
			var accomtext = $('#accomtext').val();
			var planx = $('#planx').val();
			var plany = $('#plany').val();
			location.href="[[@{/accomimpl?custid=}]]"+custid+"&[[@{title=}]]"+title+"&[[@{cnt=}]]"+cnt+"&[[@{traveltime=}]]"+traveltime
			+"&[[@{idx=}]]"+idx+"&[[@{planname=}]]"+planname+"&[[@{todo=}]]"+todo+"&[[@{accomtext=}]]"+accomtext
			+"&[[@{planx=}]]"+planx+"&[[@{plany=}]]"+plany;
		};
		alert(planx);
		alert(plany);
		alert("정상적으로 등록되었습니다 : )");
	});
	
	/* $('#writeaccom_btn').click(function(){
		var c = confirm('등록하시겠습니까?');
		if(c == true){
			$('#accom_form').attr({
				'method':'post',
				'action':'/accomimpl'
			});
			$('#accom_form').submit();
			alert("정상적으로 등록되었습니다 : )");
		}
	}); */
});

/* var geocoder = new kakao.maps.services.Geocoder();

$("#addr_btn").click(function(){
	new daum.Postcode({
        oncomplete: function(data) {
            $("#addr_btn").val(data.address);
            $("#addr_btn").prop("readonly",true);
            $("input[name=place]").val(data.sido);
            var juso =  $("#address").val();
        	geocoder.addressSearch(juso, callback);  
        }
    }).open()
});

var callback = function(result, status) {
    if (status === kakao.maps.services.Status.OK) {
	$("input[name=planx]").val(result[0].x);
	$("input[name=plany]").val(result[0].y);
    }
}; */

 
/* $(document).ready(function(){
	$('#idx2').hide();
	$('#planname2').hide();
	$('#todo2').hide();
	$('#minus_icon').hide();
	
	$('#idx3').hide();
	$('#planname3').hide();
	$('#todo3').hide();
	$('#minus_icon3').hide();

	
 	$('#add_icon').click(function(){
		$('#idx2').show();
		$('#planname2').show();
		$('#todo2').show();
		$('#minus_icon').show();
	})
	$('#minus_icon').click(function(){
		$('#idx2').hide();
		$('#planname2').hide();
		$('#todo2').hide();
		$('#minus_icon').hide();
	})  
	
	
}); */


</script>


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_2.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/}">Home <i class="fa fa-chevron-right"></i></a></span> <span><a th:href="@{/accompany}">Accompany <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">Write Accompany</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section">
<div class="container">
   <div class="checkout_details_area mt-50 clearfix" id="writeaccom">
       <div class="cart-title">
           <h3 id="w_title">동행글 작성하기</h3>
       </div>

          <form id="accom_form" method="post">
              <div class="row">
              
              	<!-- <input type="hidden" name="place"> -->
                <div class="col-2 mb-3">
                  	<input type="text" class="form-control" id="custid" th:value="${session.logincust.custid}" readonly="readonly" name="custid">
                  	<div class="col-lg d-flex"></div>
                </div>
                <div class="col-5 mb-3">
                	<div class="form-field">
                  	<input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." name="title">
                  	<div class="col-lg d-flex"></div></div>
                </div>
                <div class="col-2 mb-3">
					<div class="form-field">
					<input type="number" class="form-control" id="cnt" placeholder="동행 모집 인원" name="cnt">
                   	<div class="col-lg d-flex"></div>
					</div>
                </div>
				<div class="col-2 mb-3">
					<div class="form-field">
				      <!-- <div class="icon"><span class="fa fa-calendar"></span></div> -->
					<input type="text" class="form-control checkin_date" placeholder="Check In Date" id="traveltime" name="traveltime">
					</div>
				</div>
				<div class="col-2 mb-3">
					<input type="number" class="form-control" id="idx" value="1" readonly="readonly" name="idx">
					<div class="col-lg d-flex"></div>
				</div>
				<div class="col-9 mb-3">
					<div class="form-field">
						<input type="text" class="form-control" id="sample4_roadAddress" placeholder="도로명 주소">
						<input type="text" class="form-control" id="planname" placeholder="상세 주소" name="planname">
						<input type="button" class="form-control" onclick="sample4_execDaumPostcode()" value="장소 찾기" id="addr_btn"><br>
                    </div>
					<div class="col-lg d-flex"></div>
				</div>
				<div class="col-11 mb-3">
					<div class="form-field3">
						<input type="text" class="form-control" id="todo" placeholder="상세 일정" name="todo">
					</div>
					<div class="col-lg d-flex"></div>
				</div>
				
				<!-- 2 -->
				<!-- <div class="col-2 mb-3">
					<input type="number" class="form-control" id="idx" value="2" readonly="readonly" name="idx">
					<div class="col-lg d-flex"></div>
				</div>
				<div class="col-9 mb-3">
					<div class="form-field">
						<input type="text" class="form-control" id="sample4_roadAddress2" placeholder="도로명 주소">
						<input type="text" class="form-control" id="planname" placeholder="상세 주소" name="planname">
						<input type="button" class="form-control" onclick="sample4_execDaumPostcode()" value="장소 찾기" id="addr_btn2"><br>
                    </div>
					<div class="col-lg d-flex"></div>
				</div>
				<div class="col-11 mb-3">
					<div class="form-field3">
						<input type="text" class="form-control" id="todo" placeholder="상세 일정" name="todo">
					</div>
					<div class="col-lg d-flex"></div>
				</div> -->
				
                   
                  <a th:href="@{#}"><i class="fa fa-plus-circle" id="add_icon"></i></a>
             <!-- </div> -->
                    
                <!--     
				<div class="col-2 mb-3">
					<input type="number" class="form-control" id="idx3" value="3" readonly="readonly">
					<div class="col-lg d-flex"></div>
				</div>
				<div class="col-4 mb-3">
					<div class="form-field2">
					<input type="text" class="form-control" id="planname3" placeholder="장소">
					</div>
					<div class="col-lg d-flex"></div>
				</div>
  				<div class="col-5 mb-3">
					<div class="form-field3">
					<input type="text" class="form-control" id="todo3" placeholder="일정">
					</div>
					<div class="col-lg d-flex"></div>
				</div>
				 -->
				<!-- <i class="fa fa-minus-circle" id="minus_icon3"></i> -->
                    
				<div class="col-11 mb-3">
					<textarea id="accomtext" class="form-control w-100" cols="30" rows="10" placeholder="내용을 입력해주세요." name="accomtext"></textarea>
	            </div>
	            
	            <div class="col-2 mb-3">
					<input type="text" name="planx" value="planx" id="planx">
					<input type="text" name="plany" value="plany" id="plany">
	            </div>
	            
			</div>
          </form>
          <button id="writeaccom_btn" type="button" class="btn btn-primary">등록하기</button>
      </div>

</div>
</section>

<script>

var geocoder = new kakao.maps.services.Geocoder();

$("#addr_btn").click(function(){
    new daum.Postcode({
        oncomplete: function(data) {
            $("#sample4_roadAddress").val(data.address);
            $("#sample4_roadAddress").prop("readonly",true);
            var addr =  $("#sample4_roadAddress").val();
        	geocoder.addressSearch(addr, callback);  
        }
    }).open()
});

/* $("#addr_btn2").click(function(){
    new daum.Postcode({
        oncomplete: function(data) {
            $("#sample4_roadAddress2").val(data.address);
            $("#sample4_roadAddress2").prop("readonly",true);
            var addr =  $("#sample4_roadAddress2").val();
        	geocoder.addressSearch(addr, callback2);  
        }
    }).open()
}); */

var callback = function(result, status) {
	if (status === kakao.maps.services.Status.OK) {
		$("input[name=planx]").val(result[0].y);
		$("input[name=plany]").val(result[0].x);
	}
};


</script>
